<!-- <svg     
    [class.highlighted]="isActive"
    (click)="onClick()"
    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"

    >
    <path [attr.d]="pathReturn">
  </svg> -->

  <svg 
    [class.highlighted]="isActive"
    (click)="onClick()"
    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
    <path [attr.d]="pathReturn"/>
  </svg>
  {{ likesCount }}
<br>
